.seenon {
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-background-light;



    &__clients{
        color:$color-grey-dark-3;
        font-size: 3.8rem;
        font-weight: 400;
        // font-family: $font-display;
        @include respond(tab-land){
            font-size: 3rem;
        }
    }

    &__logo {
        max-height: 4rem;

        @include respond(tab-land){
               max-height: 3rem;
        }

        @include respond(phone){
            max-height: 2.5rem;
     }


     filter: grayscale(100%) opacity(85%);
    }
}